{% extends "partials/base.html" %}
{% block title %}Bookings list page{% endblock %}
{% block content %}
{% include 'partials/topnav.html' %}
    <div class="container">
        <h3>Booking Requests</h3>
        <table class="table bg-white">
            <thead class="bg-primary">
                <tr class="text-white">
                    <th scope="col">Service</th>
                    <th scope="col">Ordered by</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                    {% for booking in bookings %}
                <tr>
                    <td>{{booking.service}}</td>
                    <td>{{booking.ordered_by}}</td>
                    <td>{{booking.address}}</td>
                    <td>{{booking.email}}</td>
                    <td>{{booking.date}}</td>
                    <td>{{booking.time}}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{% url 'dashboard-booking-schedule' booking.id %}">Schedule</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'dashboard-booking-delete' booking.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
{% endblock %}