{% extends "partials/base.html" %}
{% load static %}
{% block title %}Homepage{% endblock %}
  <!--Welcome picture section-->
  {% block content %}
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <div class="welcome-section">
        <div class="welcome-text">
            <h1>Onecollect home repair services</h1>
            {% comment %} <p class="p-text">Home in need of repairs? Don't worry, we've got you covered! From plumbing to electrical, HVAC to window repair, our team of experienced professionals delivers top-notch home repair services. We're committed to restoring the comfort and functionality of your home.Order service online  today for a hassle-free experience!</p> {% endcomment %}
        </div>
    </div>
  
      {% comment %} ADVERTISED CARDS SECTION {% endcomment %}

         {% comment %} FIRST ROW OF ADVERTISEMENT CARDS {% endcomment %}

      <div class="advert-cards">
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;height:200px;">
                        <div class="card-header"></div>
                        <div class="card-body">
                          <h5 class="card-title">Plumbing</h5>
                          <p class="card-text"><i class="fa fa-solid fa-wrench" style="font-size: 5em;"></i></p>
                        </div>
                      </div>
                </div>      
                <div class="col">
                    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;height:200px;">
                        <div class="card-header"></div>
                        <div class="card-body">
                          <h5 class="card-title">HVAC</h5>
                          <p class="card-text"><i class="fa-solid fa-wind" style="font-size: 3em;"></i></p>
                        </div>
                      </div>
                </div>      
                <div class="col">
                    <div class="card text-white  bg-secondary mb-3" style="max-width: 18rem;height:200px;">
                        <div class="card-header"></div>
                        <div class="card-body">
                          <h5 class="card-title">Electrical</h5>
                          <p class="card-text"><i class="fa fa-solid fa-bolt" style="font-size: 3em;"></i></p>
                        </div>
                      </div>
                </div>      

                <div class="col">
                  <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;height:200px;">
                      <div class="card-header"></div>
                      <div class="card-body">
                        <h5 class="card-title">Handyman</h5>
                        <p class="card-text"><i class="fas fa-tools" style="font-size: 3em;"></i></p>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card text-white  bg-secondary mb-3" style="max-width: 18rem;height:200px;">
                        <div class="card-header"></div>
                        <div class="card-body">
                          <h5 class="card-title">Capentry</h5>
                          <p class="card-text"><i class="fas fa-chair" style="font-size: 3em;"></i></p>
                        </div>
                      </div>
                    </div>
            </div>
        </div>
        </div>

              {% comment %} SECOND ROW OF ADVERTISEMENT CARDS {% endcomment %}

        <div class="advert-cards">
          <div class="container mt-5">
              <div class="row">
                  <div class="col">
                      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;height:200px;">
                          <div class="card-header"></div>
                          <div class="card-body">
                            <h5 class="card-title">Gardening</h5>
                            <p class="card-text"><i class="fas fa-solid fa-seedling" style="font-size: 3em;"></i></p>
                          </div>
                        </div>
                  </div> 

                  <div class="col">
                      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;height:200px;">
                          <div class="card-header"></div>
                          <div class="card-body">
                            <h5 class="card-title">Installation</h5>
                            <p class="card-text"><i class="fas fa-tools" style="font-size: 3em;"></i></p>
                          </div>
                        </div>
                  </div>  

                  <div class="col">
                      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;height:200px;">
                          <div class="card-header"></div>
                          <div class="card-body">
                            <h5 class="card-title">Roofing</h5>
                            <p class="card-text"><i class="fa fa-solid fa-people-roof" style="font-size: 3em;"></i></p>
                          </div>
                        </div>
                  </div>      
  
                  <div class="col">
                    <div class="card text-white  bg-secondary mb-3" style="max-width: 18rem;height:200px;">
                        <div class="card-header"></div>
                        <div class="card-body">
                          <h5 class="card-title">Baby Proofing</h5>
                          <p class="card-text"><i class="fa fa-solid fa-baby" style="font-size: 3em;"></i></p>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col">
                      <div class="card text-white  bg-secondary mb-3" style="max-width: 18rem;height:200px;">
                          <div class="card-header"></div>
                          <div class="card-body">
                            <h5 class="card-title">Window repair</h5>
                            <p class="card-text"><i class="fa-brands fa-windows" style="font-size: 3em;"></i></i></p>
                          </div>
                        </div>
                      </div>
              </div>
          </div>
          </div>
  {% endblock %}